@model IEnumerable<SyllabusViewModel>

@{
    ViewData["Title"] = "Syllabuses";
}

<h1 class="text-3xl font-bold mb-4">Syllabuses</h1>

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    @if (User.IsInRole("administrator"))
    {
        <div class="flex justify-between mb-4">
            <a asp-action="Create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create New Syllabus</a>
        </div>
    }
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Course Name</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">@item.CourseName</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a asp-action="Details" asp-route-id="@item.SyllabusId" class="text-indigo-600 hover:text-indigo-900">Details</a>
                            @if (User.IsInRole("administrator"))
                            {
                                <span>|</span> <a asp-action="Edit" asp-route-id="@item.SyllabusId" class="text-indigo-600 hover:text-indigo-900">Edit</a>

                                <span>|</span>

                                <a asp-action="Delete" asp-route-id="@item.SyllabusId" class="text-red-600 hover:text-red-900">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
