@* Views/Shared/_Footer.cshtml *@
<footer class="bg-gray-100 py-5">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="w-full md:w-7/12 mb-4 md:mb-0">
                <div class="flex items-center">
                    <div class="w-1/4 text-center">
                        <a href="https://www.wit.edu.pl/" title="Akademia WIT">
                            <img alt="Akademia WIT" src="https://static.wit.edu.pl/images/logo/witlogo_sygnet_szary.png" class="w-20 mx-auto">
                        </a>
                    </div>
                    <div class="w-3/4 pl-4">
                        <p class="text-xl font-semibold">Akademia WIT</p>
                        <p class="mt-2">
                            <a class="link" href="https://www.google.com/maps/d/viewer?mid=1NaxyloJ2Pr6I4AVwEetUm6F8cEeke_Kb&amp;ll=52.23647178988564%2C20.941055862426765&amp;z=14" target="_blank" class="text-blue-600 hover:underline">
                                <i class="bi bi-geo-alt"></i> Newelska 6 / 01-447 Warszawa
                            </a>
                        </p>
                        <p class="mt-2">
                            <a class="link" href="https://www.wit.edu.pl/kontakt" class="text-blue-600 hover:underline">
                                <i class="bi bi-telephone"></i> Numery telefonów i godziny pracy
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-5/12 text-center md:text-right">
                <div class="flex flex-col md:flex-row justify-center md:justify-end space-y-2 md:space-y-0 md:space-x-4 mb-4">
                    <a class="link" href="https://www.wit.edu.pl/rekrutacja" class="text-blue-600 hover:underline">Rekrutacja</a>
                    <a class="link" href="https://www.wit.edu.pl/oferta-edukacyjna" class="text-blue-600 hover:underline">Studia</a>
                    <a class="link" href="https://www.wit.edu.pl/kontakt" class="text-blue-600 hover:underline">Kontakt</a>
                </div>
                <div class="flex flex-col md:flex-row justify-center md:justify-end space-y-2 md:space-y-0 md:space-x-4 mb-4">
                    <a class="link" href="https://www.wit.edu.pl/obowiazek-informacyjny" class="text-blue-600 hover:underline">Obowiązek informacyjny</a>
                    <a class="link" href="https://www.wit.edu.pl/polityka-prywatnosci" class="text-blue-600 hover:underline">Polityka prywatności</a>
                    <a class="link" rel="nofollow" href="mailto:webmaster@wit.edu.pl" onclick="alert('W przypadku błędów lub pytań dotyczących strony WWW prosimy o przesłanie zgłoszenia poprzez e-mail')" class="text-blue-600 hover:underline">Napisz do nas</a>
                </div>
                <div class="flex justify-center md:justify-end space-x-4">
                    <a rel="nofollow" href="https://www.facebook.com/AkademiaWIT" class="text-gray-600 hover:text-red-600">
                        <i class="bi bi-facebook fs-2"></i>
                    </a>
                    <a rel="nofollow" href="https://www.linkedin.com/school/akademiawit/" class="text-gray-600 hover:text-red-600">
                        <i class="bi bi-linkedin fs-2"></i>
                    </a>
                    <a rel="nofollow" href="https://www.instagram.com/akademiawit/" class="text-gray-600 hover:text-red-600">
                        <i class="bi bi-instagram fs-2"></i>
                    </a>
                    <a rel="nofollow" href="https://www.youtube.com/c/AkademiaWIT" class="text-gray-600 hover:text-red-600">
                        <i class="bi bi-youtube fs-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="container mx-auto px-4 flex flex-wrap">
            <div class="w-full text-center md:text-left mb-4 md:mb-0">
                <p>© 2024 WIT</p>
            </div>
        </div>
    </div>
</footer>
