@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext.User;
    var isAdmin = user.IsInRole("administrator");
    var isStudent = user.IsInRole("student") && !isAdmin;
}

<nav class="bg-white px-6 py-3 shadow">
    <div class="flex justify-between items-center">
        <a class="text-xl font-semibold text-gray-700" asp-area="" asp-controller="Home" asp-action="Index">
            <img class="d-none img-fluid" src="https://www.wit.edu.pl/images/logos/logo-WIT-2019.svg" alt="Logo">
        </a>
        <div class="hidden md:flex items-center space-x-1">
            <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            @if (isAdmin)
            {
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                
               
            }
            @if (user.Identity.IsAuthenticated)
            {
                @if (isAdmin)
                {
                    <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                }
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@user.FindFirst(ClaimTypes.NameIdentifier)?.Value">Details</a>
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Specializations" asp-action="Index">Specializations</a>
                @if (isAdmin || isStudent)
                {
                    <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                    <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Enrollments" asp-action="Index">Enrollments</a>
                    <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Theses" asp-action="Index">Theses</a>
                }
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Syllabuses" asp-action="Index">Syllabuses</a>
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
            }
            else
            {
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                <a class="py-2 px-4 text-gray-700 hover:bg-gray-100" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
            }
        </div>
    </div>
</nav>
