<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WIT </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">
    <header>
        @await Html.PartialAsync("_Header")
    </header>
    <main role="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->



